.add-new-project {
  width: 60%;
  padding: 25px;
  box-shadow: 0 4px 15px 0 rgb(0 0 0 / 75%);
  background: transparent;
}
.add-new-project__field {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-new-project__label {
  padding: 0 20px;
  width: 40%;
}
.add-new-project__input {
  padding: 10px;
  border-radius: 10px;
  width: 60%;
}
.add-new-project__label {
  font-size: 15px;
  font-family: ui-sans-serif;
}
